.root {
  font-size: 1.75rem;
  line-height: 2.25rem;
  cursor: pointer;
}

.round {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--yellow);
  display: grid;
  place-content: center;
}
