.root {
  border: none;
  background: none;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.7142857143rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  grid-gap: 4px;
}

.text {
  color: var(--primary);
}

.contained {
  background-color: var(--primary);
  color: var(--white);
  font-weight: normal;
  border-radius: 0.25rem;
  line-height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.round {
  background-color: #d7d9d9;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  justify-content: center;
  outline: transparent;
}
