.container {
  width: 100%;
  border-radius: 8px;
  background-color: #F4F4F4;
  border: 1px solid #FAFAFA;
}

.header {
  height: 56px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

.videoName {
  margin-left: 32px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(9, 10, 51, 0.4);
}

.control {
  justify-self: end;
  margin: 0 16px 0 0;
}

.preview {
  background-color: #D7D9D9;
  /* height: calc(100vh - 104px - 56px - 72px - 74px - 164px); */
  height: 50vh;
}
