.root {
  background-color: var(--page-background);
  /* min-width: 62rem; */
  padding: 0 1rem;
  /* min-height: 18.75rem; */
}

.activeArea {
  max-width: 1040px;
  display: grid;
  margin: auto;
  place-content: center;
  height: 100vh;
}

.withHeader {
  grid-template-rows: min-content calc(100vh - 6.5rem);
}
