.root {
  width: 100%;
  background: #f4f4f4;
  border: 0.063rem solid #fafafa;
  box-shadow: 0 0.625rem 1.25rem rgba(9, 10, 51, 0.1);
  border-radius: 0.5rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: rgba(9, 10, 51, 0.4);
  position: relative;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
