@font-face {
  font-family: TTNorms;
  src: url('/font/TTNormsPro-Medium/font.woff2') format('woff2'),
      url('/font/TTNormsPro-Medium/font.woff') format('woff');
}

@font-face {
  font-family: TTNorms;
  src: url('/font/TTNormsPro-Bold/font.woff2') format('woff2'),
      url('/font/TTNormsPro-Bold/font.woff') format('woff');
  font-weight: bold;
}

:root {
  /* Colors */
  --primary: #090A33;
  --secondary: #0F1055;
  --page-background: #E3E5E6;
  --dark: #231C32;
  --white: #fff;

  /* Fonts */
  --primary-font: TTNorms, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
