.logo {
  margin: auto;
}

.title {
  margin: 16px 0;
}

.btn {
  width: 100%;
  height: 40px;
}

.btn:disabled path {
  fill: rgba(9, 10, 51, 0.4);
}

.btnContent {
  margin-left: 0.625rem;
}

.cred {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #e6e7e8;
  max-width: 336px;
}

.field {
  width: 100%;
  /* height: 2.313rem; */
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  padding: 8px 16px;
  margin-bottom: 16px;
}
