.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.rootActive {
    align-items: flex-start;
    flex-direction: column;
}

.pane video {
    width: 100%;
    max-height: calc(100vh - 18.75rem);
    min-height: 18.75rem;
    display: block;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.recordIcon {
    border-radius: 50%;
    width: .875rem;
    height: .875rem;
    margin-right: .5rem;
    background-color: var(--white);
}

.stopIcon {
    width: .75rem;
    height: .75rem;
    background-color: var(--primary);
    border-radius: .063rem;
}

.stopControl {
    margin-left: 1.5rem;
}

.duration {
    color: var(--primary);
    font-size: 1.125rem;
    line-height: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.paneTrigger svg {
    margin-right: .313rem;
}